/* Common CSS Start */
body {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    margin: 0;
}


.d-flex {
    display: flex;
}

.align-v-center {
    align-items: center;
}

.pad {
    padding: 100px;
}

/* Common CSS End */

/* Main Header CSS Start */
header.main-header {
    background-color: #0000ff61;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px 50px;
    align-items: center;
}

.main-header .links a {
    color: #FFF;
    padding: 5px 10px;
    text-decoration: none;
}

.main-header .links {
    list-style: none;
    display: flex;
    padding-inline-start: 0px;
}


.petlogo {
    align-items: center;
    width: 100px;
}

.links li:first-child a {
    padding-left: 0px;

}



.main-header .search {
    background-color: transparent;
    border: none;

}

.search {
    display: none;
}

.main-header button.search {
    width: 34px;
}

.main-header button.search img {
    width: 100%;
}

/* Main Header CSS End ----------------------------*/


/* Main Banner CSS Start */
.section-1 {
    background-image: linear-gradient(#0000ff59, #0000ff8a), url(./pic/banner_image.jpg);
    background-repeat: no-repeat, repeat;
    background-size: cover;
    background-position: center;
    font-size: 20px;
}

.main-banner-section {

    background-position: center;
    text-align: center;
    padding-top: 120px;
    padding-bottom: 200px;
    color: #FFF;
    font-size: 20px;
}

.main-banner-section button {
    background: #d2ba00;
    color: white;
    border: yellow;
    padding: 10px 70px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 24px;
    margin-top: 20px;
    cursor: pointer;
}

.main-banner-section h1 {
    font-size: 50px;
    margin-bottom: 20px;
}




/* Main Banner CSS End */

/*second section*/
.justify-v-center {
    justify-content: center;
}


.second-banner h2 {
    font-size: 50px;
    margin-bottom: 20px;

}

.inside-second {
    text-align: center;
    color: #FFF;
    justify-content: center;

}

.second-banner {
    background-color: rgba(0, 102, 255, 0.544);
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    font-size: 20px;
    position: relative;


}

.secondbannersection {
    display: flex;
    flex-direction: column;
    color: white;
    background-position: top;
    padding-top: 50px;
    justify-content: space-evenly;
}

.secondbannersection h3 {
    font-size: 30px;
}


/*section thrid*/

.thrid-banner {
    text-align: center;
    background-image: linear-gradient(#e2e119bd, #deed52cc), url(./pic/pet_care_banner.png.jpg);
    font-size: 25px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    padding-top: 50px;
    padding-bottom: 150px;
    color: #FFF;

}

.thrid-banner h2 {
    font-size: 50px;
    margin-top: 8px;
}

.cricle.round p>strong {
    font-size: 40px;
}

.round {
    border: 8px solid white;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding: 100px;
    display: flex;
    color: white;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    margin: 10px;
}

.round strong {
    font-size: 32px;
}

.cricle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding: 100px 100px;
    align-items: center;

}

/*section4*/
.fourth-banner {
    background-color: dodgerblue;
    background-position: center;
    text-align: left;
    color: #FFF;
    padding: 100px 50px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;


}

.inside-fourth {
    padding-top: 0px;
    align-items: center;
    padding-right: 0px;
    font-size: 25px;
}


.inside-fourth button {
    background: #d2ba00;
    color: white;
    border: yellow;
    padding: 10px 70px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 24px;
    margin-top: 20px;
    cursor: pointer;
}

.fourthimage img {
    justify-content: space-between;

    background-size: cover;
    width: 100%;
}

/*section5*/


.fifth-banner {
    background-color: rgb(90, 150, 210);
    background-position: center;
    text-align: left;
    color: #FFF;
    display: flex;
    flex-direction: column;
    padding: 100px 50px;
    justify-content: space-between;
    align-items: center;
    text-align: center;

}

.inside-fifth {
    padding-top: 0%;
    align-items: center;
    padding-left: 0px;
    font-size: 25px;
}

.inside-fifth button {
    background: #d2ba00;
    color: white;
    border: yellow;
    padding: 10px 70px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 24px;
    margin-top: 20px;
    cursor: pointer;
}

.fifthimage img {
    justify-content: space-between;

    background-size: cover;
    width: 100%;
}

/*section6*/
.inside-six button {
    background: #d2ba00;
    color: white;
    border: yellow;
    padding: 10px 70px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 24px;
    margin-top: 20px;
    cursor: pointer;
}

.inside-six {
    background-color: white;
    border: 1px solid white;
    border-radius: 10px;
    color: rgb(6, 147, 255);
    text-align: center;
    padding: 10px;

}

.sixthin {
    display: flex;
    flex-direction: column;
}

.sixth-banner {
    background-color: rgb(62 72 218);
    background-position: center;
    padding-top: 50px;
    color: #FFF;
    font-size: 20px;
}

.inside-second h1 {
    font-size: 50px;
    margin-bottom: 20px;

}

.pads {
    padding: 50px;
}



/*section7*/

.seven-banner {
    background-color: rgb(16, 111, 207);
    background-position: center;
    padding-top: 50px;
    color: #FFF;
    font-size: 20px;

}



.sectionsub1>div>img {
    width: 100px;
    height: 100px;
    padding-right: 10px;
    justify-content: space-between;
}

.sectionsub2>div>img {
    width: 100px;
    height: 100px;
    padding-right: 10px;
    justify-content: space-between;
}

.sectionsub1 {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    justify-content: center;
    text-align: left;
    justify-content: space-between;
    align-items: center;
}

.sectionsub2 {
    display: flex;
    flex-direction: column;
    padding-top: 0px;
    justify-content: center;
    text-align: left;
    padding-bottom: 100px;
    justify-content: space-between;
    align-items: center;
}

* {
    box-sizing: border-box;
}

/*--section 8--*/


.eight-banner {
    background-image: linear-gradient(#ffff0082, #897d13a6), url(./pic/dr_Jenny.jpg);
    color: white;
    text-align: center;
    padding-top: 350px;
    padding-bottom: 400px;
    background-repeat: no-repeat, repeat;
    background-size: cover;
    background-position: center;
}

.eight-banner h2 {
    font-size: 30px;
}

.eight-banner p {
    font-size: 40px;

}

/*--section-9*/

.section-9 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.959);
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    font-family: 'Times New Roman', Times, serif;
}

.section-9>div {
    padding-left: 15px;
    padding-right: 15px;
}

.fa-brands {
    background-color: #ffffff;
    color: black;
    border: 10px solid white;
    border-radius: 50%;
    font-size: 30px;
    justify-content: space-evenly;
    width: 50px;
    height: 50px;
    text-align: center;
    margin: 5px;
    cursor: pointer;

}

/*----desktop view---*/

@media (min-width:768px) {
    header.main-header {
        flex-direction: row;
    }

    main-header .links a {
        padding: 5px 20px
    }

    .search {
        display: block;
    }

    .secondbannersection {
        flex-direction: row;
    }

    .cricle {
        flex-direction: row;
    }

    .fourth-banner {
        flex-direction: row;
        text-align: left;
        padding: 100px 100px;
        width: 100%;
    }

    .inside-fourth {

        padding-right: 15px;
        width: 55%;
        padding-left: 100px;
    }

    .fourthimage img {
        padding-right: 100px;
        margin: 0px;

    }

    .fifth-banner {
        flex-direction: row;
        text-align: left;
        padding: 100px 100px;
        width: 100%;
    }

    .fifthimage img {
        padding-left: 100px;
        width: 100%;
        margin: 0px;
        padding-right: 30px;
    }

    .inside-fifth {

        padding-left: 15px;
        width: 55%;
        padding-right: 100px;

    }

    .sixthin {
        flex-direction: row;
    }

    .sectionsub1 {
        flex-direction: row;
        padding-left: 200px;
        padding-right: 200px;

    }

    .sectionsub2 {
        flex-direction: row;
        padding-left: 200px;
        padding-right: 200px;
        padding-top: 50px;
    }

    .inside {
        display: flex;
    }

    .section-9 {
        display: flex;
        flex-direction: row;
    }

    .block {
        display: block;
    }
}
/*----DESKTOP VIEW ENDS----*/

/*----MOBILE VIEW STARTS----*/

@media(max-width:767px) {

    .section-1 {
        font-size: 17px;
    }

    .petlogo img {
        width: 100%;
    }

    .main-banner-section {
        font-size: 18px;
    }

    .main-banner-section h1 {
        font-size: 40px;
    }

    .links li:first-child a {
        padding-left: 5px;
    }

    header.main-header {
        padding: 15px 15px;
    }

    .main-header .links a {
        color: #FFF;
        padding: 5px 8px;

    }

    .main-banner-section {
        padding-left: 15px;
        padding-right: 15px;
    }

    .inside-second,
    .secondbannersection {
        padding: 0px 15px;

    }

    .secondbannersection h3 {
        margin-top: 1px;
        margin-bottom: 5px;
    }

    .secondbannersection div {
        padding-bottom: 30px;
    }

    .second-banner {
        font-size: 19px;
    }

    .second-banner h2 {
        font-size: 40px;
    }

    .thridinside {
        padding: 0px 15px;

    }

    .thridinside p {
        font-size: 19px;
    }

    .thrid-banner h2 {
        font-size: 40px;
    }

    .cricle {

        padding: 80px 70px;
    }

    .fourthimage img {
        margin-top: 20px;
        background-size: cover;
        width: 100%;
        text-align: center;
    }

    .fourth-banner {
        background-color: dodgerblue;
        background-position: center;
        text-align: left;
        color: #FFF;
        padding: 70px 15px;
        justify-content: space-between;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .inside-fourth h1 {
        font-size: 40px;
    }

    .inside-fourth p {
        font-size: 19px;
    }

    .fifth-banner {
        background-color: rgb(90, 150, 210);
        background-position: center;
        text-align: left;
        color: #FFF;
        display: flex;
        flex-direction: column;
        padding: 70px 15px;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }

    .fifthimage img {
        margin-top: 20px;
        background-size: cover;
        width: 100%;
        text-align: center;
    }

    .inside-fifth h1 {
        font-size: 40px;
    }

    .inside-fifth p {
        font-size: 19px;
    }

    .inside-second h1 {
        font-size: 40px;
        margin-bottom: 20px;
    }

    .sixth-banner p {
        font-size: 18px;
    }

    .sectionsub1 {
        padding: 0px 15px;
        padding-top: 50px;
    }

    .sectionsub2 {
        padding: 0px 15px;
        padding-bottom: 50px;
    }

    .inside h2,
    .paw {

        text-align: center;
    }

    .eight-banner p {
        font-size: 30px;
        padding: 0px 15px;

    }

    .section-9>div>h2 {
        text-align: center;
    }

    .section-9>div>p {
        text-align: center;
    }

    .section-9>div {
        padding-left: 0px;
        padding-right: 0px;
    }

    .section-9 {
        padding-left: 15px;
        padding-right: 15px;
    }

    .icons {
        text-align: center;
    }

}

/*------MOBILE VIEW ENDS----*/


/*-------TAB VIEW STARTS -----*/

@media (min-width:768px) and (max-width:991px){
    header.main-header{
        padding: 15px 20px;
    }
    .secondbannersection {
        flex-direction: column;
    }
    .inside-second,
    .secondbannersection {
        padding: 0px 20px;

    }
    .secondbannersection h3 {
        margin-top: 1px;
        margin-bottom: 5px;
    }
    .secondbannersection div {
        padding-bottom: 40px;
        padding-top: 15px;
    }
    .thridinside {
        padding: 0px 20px;

    }
    .cricle{
        padding-right: 20px;
        padding-left: 20px;
    }
    .fourthimage img {
        padding-right: 0px;
        margin: 0px;
    }

    .fourth-banner {
        flex-direction: row;
        text-align: left;
        padding: 100px 20px;
        width: 100%;
    }
    .inside-fourth {
        padding-right: 15px;
        width: 70%;
        padding-left: 0px;
        
    }
    .fifth-banner {
        flex-direction: row;
        text-align: left;
        padding: 100px 20px;
        width: 100%;
    }
    .inside-fifth {
        padding-left: 15px;
        width: 55%;
        padding-right: 0px;
        font-size: 23px;
        
    }
    .fifthimage img {
        padding-right: 15px;
        padding-left: 0px;
        width: 100%;
    }
    .sixthin {
        flex-direction: column;
        padding: 20px 20px;
    }
    .sectionsub1 {
        display: flex;
        flex-direction: column;
        padding: 0px 20px;
        padding-top: 50px;
    }
    .sectionsub2 {
        display: flex;
        flex-direction: column;
        padding: 0px 20px;
        padding-bottom: 100px;
    }
    .inside h2,
    .paw {

        text-align: center;
    }
    .eight-banner p {
        font-size: 35px;
        padding: 0px 20px;

    }
    .section-9{
        padding-right: 20px;
        padding-left: 20px;
        font-size: 20px;
    }
    .section-9>div {
        padding-left: 15px;
        padding-right: 5px;
    }
    .fa-brands{
        margin: 3px;
    }
}